%% -*- mode: Erlang; -*-

{sys, [
       {lib_dirs, ["../../"]},
       {rel, "ediameter", "1",
        [
         kernel,
         stdlib,
         sasl,
         ediameter
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ediameter"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, ediameter, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
        ]}.
